<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="fbProvider" connectionString="User=SYSDBA;Password=masterkey;Database=localhost:D:\Delphi\Sistemas\SGP\Banco\NATIVIDADE.fdb;DataSource=localhost; Port=3050;Charset=WIN1252" />
  </connectionStrings>
  <appSettings>
    <add key="IdFilial" value="1"/>
    <add key="tempAtualizacao" value="10"/>
     <!--<add key="WebService" value="http://SgpApiTeste.gojuri.com.br"/>-->
    <add key="WebService" value="http://sgpcasafazendeiro.gojuri.com.br"/>
  </appSettings>
</configuration>