<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="fbProvider" connectionString="User=SYSDBA;Password=masterkey;Database=localhost:D:\Delphi\Sistemas\SGP\Banco\JrDistribuidora.fdb;DataSource=localhost; Port=3050;Charset=WIN1252" />
    <!--<add name="fbProvider" connectionString="User=SYSDBA;Password=masterkey;Database=localhost:D:\Delphi\Sistemas\Teste\SGPLoja1\Banco\SGP.fdb;DataSource=localhost; Port=3050;Charset=WIN1252" />-->
    <!--<add name="fbProvider" connectionString="User=SYSDBA;Password=masterkey;Database=localhost:D:\Delphi\Sistemas\Teste\SGPMatriz\Banco\SGP.fdb;DataSource=localhost; Port=3050;Charset=WIN1252" />-->
  </connectionStrings>
  <appSettings>
    <add key="IdFilial" value="1"/>
    <add key="tempAtualizacao" value="1"/>
    <add key="WebService" value="http://sgp.aguadivina.com.br"/>
    <!--<add key="WebService" value="http://sgp.degrill.com.br"/>
    <add key="WebService" value="http://localhost:58184"/>
    <add key="WebService" value="http://187.84.232.114/api"/>-->
  </appSettings>
</configuration>